* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgba(121, 154, 245, 0.671);
}

.header {
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: cadetblue;
    color: white;
}

.header h1 {
    display: inline-block;
    font-size: 50px;
}

nav {
    padding: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: cadetblue;
    margin-bottom: 10px;
}

nav a {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
}

div .about-me img {
    max-height: 500px;
    max-width: 400px;
}

div .about-me p {
    padding:2px;
}